astroid
attrs
click
contourpy
cycler
dill
exceptiongroup
fonttools
iniconfig
isort
kiwisolver
lazy-object-proxy
loguru
matplotlib
mccabe
mpmath
mypy-extensions
numpy
packaging
pathspec
Pillow
platformdirs
pluggy
pyparsing
PySide6
PySide6-Addons
PySide6-Essentials
pytest
pytest-qt
python-dateutil
shiboken6
six
sympy
tomli
tomlkit
typing_extensions
wrapt
